@import "node_modules/bootstrap/scss/forms";

textarea {
  resize: none;
}

.form-label {
  &:has(~ .error-message) {
    color: theme-color("danger");
  }
}

.form-control {
  border: 2px inset #ced4da;
  border-radius: unset;
  box-shadow: unset;
  transition: unset;

  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: inherit;
    outline: unset;
  }
}

.form-check {
  position: relative;
  display: flex;
  padding-left: unset;
  align-items: center;

  .form-check-input {
    position: unset;
    margin: unset;
    z-index: 1;
    opacity: 0;
    float: unset;
    cursor: pointer;
    min-height: unset;
    padding: unset;
    font-size: unset;
    height: 24px;
    width: 24px;

    & + .form-check-label {
      &:before {
        margin-left: calc(-1rem - 24px);
        height: 24px;
        width: 24px;
      }

      &:after {
        border-width: 0 0 5px 5px;
        top: 10px;
        left: 7px;
        width: 23px;
        height: 12px;
      }
    }


    &.form-control-lg {
      min-height: unset;
      padding: unset;
      font-size: unset;
      height: 2em;
      width: 2em;

      & + .form-check-label {
        &:before {
          margin-left: calc(-1rem - 32px);
          height: 32px;
          width: 32px;
        }

        &:after {
          border-width: 0 0 5px 5px;
          top: 13px;
          left: 7px;
          width: 32px;
          height: 12px;
        }
      }
    }

    &.form-control-sm {
      min-height: unset;
      padding: unset;
      font-size: unset;
      height: 1em;
      width: 1em;

      & + .form-check-label {

        &:before {
          margin-left: calc(-1rem - 16px);
          height: 16px;
          width: 16px;
        }

        &:after {
          border-width: 0 0 5px 5px;
          top: 8px;
          left: 3px;
          width: 18px;
          height: 8px;
        }
      }
    }
  }

  .form-check-input:focus + .form-check-label:before {
    border-width: 4px;
    outline: 3px solid transparent;
    outline-offset: 1px;
  }

  .form-check-input:checked + .form-check-label:after {
    opacity: 1;
  }

  .form-check-label {
    padding: 0.5rem 1rem;

    &:after, &:before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      background: transparent;
    }

    &:before {
      width: 40px;
      height: 40px;
      border: 2px inset #ced4da;
    }

    &:after {
      transform: rotate(-45deg);
      border: solid;
      border-color: #595959;
      border-top-color: transparent;
      opacity: 0;
    }
  }
}

.form-radio {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: unset;

  .form-radio-input {
    position: unset;
    margin: unset;
    z-index: 1;
    opacity: 0;
    float: unset;
    cursor: pointer;
    min-height: unset;
    padding: unset;
    font-size: unset;
    height: 24px;
    width: 24px;

    & + .form-radio-label {
      &:before {
        margin-left: calc(-1rem - 24px);
        height: 24px;
        width: 24px;
      }

      &:after {
        top: 15px;
        left: 7px;
        border: 5px solid #595959;
        width: 5px;
        height: 5px;
      }
    }

    &.form-control-lg {
      min-height: unset;
      padding: unset;
      font-size: unset;
      height: 2em;
      width: 2em;

      & + .form-radio-label {
        &:before {
          margin-left: calc(-1rem - 32px);
          height: 32px;
          width: 32px;
        }

        &:after {
          top: 16px;
          left: 9px;
          border: 8px solid #595959;
          width: 8px;
          height: 8px;
        }
      }
    }

    &.form-control-sm {
      min-height: unset;
      padding: unset;
      font-size: unset;
      height: 1em;
      width: 1em;

      & + .form-radio-label {

        &:before {
          margin-left: calc(-1rem - 16px);
          height: 16px;
          width: 16px;
        }

        &:after {
          top: 13px;
          left: 13px;
          border: 3px solid #595959;
          width: 5px;
          height: 5px;
        }
      }
    }
  }

  .form-radio-input:focus + .form-radio-label:before {
    border-width: 4px;
    outline: 3px solid transparent;
    outline-offset: 1px;
    border-radius: 50%;
  }

  .form-radio-input:checked + .form-radio-label:after {
    opacity: 1;
  }

  .form-radio-label {
    padding: 0.5rem 1rem;
    margin-bottom: unset;

    &:after, &:before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      background: transparent;
    }

    &:before {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px inset #ced4da;
    }

    &:after {
      z-index: 3;
      opacity: 0;
      border-radius: 50%;
    }
  }
}
