$panel-cap-bg: theme-color("primary");
$panel-cap-color: color-yiq(theme-color("primary"));

$panel-border-radius: 0px;
$panel-inner-border-radius: 0px;

.panel {
  @extend .card;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  background: theme-color("white");
  border: 1px $headerBackground outset;
  border-radius: $panel-border-radius;
  margin: 4px;
  width: 100%;
}

.panel-header {
  @extend .card-header;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  padding: .5em 1em;
  background-color: $headerBackground;
  color: color-yiq($headerBackground);
  border: 3px $headerBackground outset;
}

.panel-body {
  @extend .card-body;
  background: #fff;
  padding: unset;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .panel-content {
    flex: 1 0 auto;
    padding-bottom: 2px;
    background-color: white;
    padding-right: 0.5em;

    .panel-item {
      min-height: 2em;
      padding: 0.5em 1em;

      &:not(:last-child) {
        border-bottom: 2px $headerBackground solid;
      }
    }
  }

  .panel-no-content {
    display: flex;
    text-align: center;
    opacity: 0.75;
    min-height: 80px;
    justify-content: center;
    align-items: center;
  }
}

.panel > *:first-child {
  border-top-left-radius: $panel-inner-border-radius;
  border-top-right-radius: $panel-inner-border-radius;
}

.panel > *:last-child {
  border-bottom-left-radius: $panel-inner-border-radius;
  border-bottom-right-radius: $panel-inner-border-radius;
}

.panel-footer {
  @extend .card-footer;
  background-color: $headerBackground;
  border: 3px $headerBackground outset;
  color: #212529;
}